* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./pics/hero.png") center top no-repeat, url("./pics/bottom-pic.png") center bottom 306px no-repeat;
 }

 body, html {
  height: 100%;
 }

body {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: normal;
}

b {
  color:#000;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #17191C;
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
}

.container  {
  width: 1142px;
  margin: 0 auto;
}



.container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 829px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 129px;
  padding-top: 26px;
  margin-bottom: 32px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 264px;
}

.menu__link:hover {
  color: #FF3D00;
  transition: .5s;
}

.contacts {
  text-align: right;
}

.contacts__tel {
  font-size: 26px;
}

.contacts__schedule {
  color: #FF3D00;
  font-size: 13px;
  text-decoration: underline;
  line-height: 4px;
}

.slogan {
  text-align: center;
  margin-bottom: 233px;
}

.slogan__text-title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.slogan__text-info {
  font-size: 18px;
  margin-bottom: 41px;
}



.video {
  margin-bottom: 180px;
  min-height: 476px;
}

.video__list {
  display: flex;
  justify-content: space-between;
}

.video__item {
  display: flex;
  flex-direction: column;
  padding: 44px 23px;
  width: calc(100% / 3 - 18px);
  min-height: 471px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

.video__image {
  width: 76px;
  height: 76px;
  margin-bottom: 30px;
}

.video__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.video__content-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 17px;
}

.video__content-feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.video__content-feature-text {
  font-size: 16px;
  color: #666;
  margin-right: 63px;
}

.video__content-feature-text:last-child {
  margin-right: 0;
}

.video__content-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 29px;
}

.button {
  padding: 18px 53px;
  border-radius: 35px;
  background-color: #FF3D00;
  font-weight: 700;
}

.video__content-button {
  margin-top: auto;
}

.button--clicked {
  background-color: #fff;
  border-color: #F50;
  color: #F50;
}



.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 145px;
}

.news__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.news__perks {
  margin-bottom: 47px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.news__item {
  margin-right: 2%;
  flex: 1;
  min-height: 394px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__info {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  padding: 0 33px;
}

.news__info-date {
  line-height: 21px;
  margin-bottom: 12.5px;
}

.news__info-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}

.news__info-text {
  font-size: 16px;
  line-height: 21px;
}



.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.paginator__display {
  line-height: 20px;
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  font-weight: 700;
}

.paginator__link {
  background: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  transition: .5s;
}

.paginator__link:hover {
  background: #FF5500;
}



.about-us {
  display: flex;
  margin-bottom: 56px;
}

.about-us__image {
  display: block;
  width: 490px;
  height: 505px;
}

.about-us__info {
  padding: 70px 202px 70px 81px;
  background-color: #fff;
  min-height: 455px;
  max-width: 785px;
  color: #000;
  margin-left: -137px;
  border-radius: 5px;
  margin-top: 97px;
}

.about-us__info-title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.about-us__info-text {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 43px;
}

.button--about-us {
  padding: 18px 40px;
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
  margin-top: auto;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media__link {
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  transition: .5s;
}

.social-media__item--tg .social-media__link {
  background-image: url("./pics/telegram.png");
}

.social-media__item--vk .social-media__link {
  background-image: url("./pics/vk.png");
}

.social-media__item--fb .social-media__link {
  background-image: url("./pics/f.png");
}

.social-media__item--ig .social-media__link {
  background-image: url("./pics/in.png");
}

.social-media__item--tg .social-media__link:hover {
  background-image: url("./pics/telegram-hover.png");
}

.social-media__item--vk .social-media__link:hover {
  background-image: url("./pics/vk-hover.png");
}

.social-media__item--fb .social-media__link:hover {
  background-image: url("./pics/f2-hover.png");
}

.social-media__item--ig .social-media__link:hover {
  background-image: url("./pics/in-hover.png");
}

.contacts__text {
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
}

.footer--main {
  border-top: 1px solid rgba(255, 255, 255, 0.099);
}



/*services-page*/



.services-wrapper {
  background: #17191C url("./pics/top-line.png") center top no-repeat;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 416px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
}

.breadcrumbs {
  padding-bottom: 28px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-item {
  display: flex;
  color: #9A9A9A;
  margin-right: 6px;
}

.breadcrumbs-link {
  text-decoration: underline;
  margin-right: 6px;
}

.breadcrumbs-link:last-child {
  margin-right: 0;
}

.breadcrumbs-item:after {
  content: "/";
  color: #9A9A9A;
  margin-left: 6px;
}

.breadcrumbs-item:last-child:after {
  display: none;
}

.breadcrumbs-link--clicked {
  font-weight: 700;
}



.services {
  background-color: #fff;
  padding-bottom: 84px;
}

.content--services {
  color: #000;
}

.services__shooting-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
}

.services__shooting-item {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.services__shooting-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px 0px 25px 60px;
}

.services__shooting-info-title {
  font-size: 36px;
  font-weight: 700;
}

.services__shooting-info-text {
  font-size: 16px;
  line-height: 27px;
}

.paginator__link--services:hover {
  color: #fff;
}



.partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F4F5F5;
}

.partners__title-text {
  color: #1A1B1E;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 82px;
  padding-top: 88px;
}

.partners__companies-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.partners__companies-item {
  margin-right: 128px;
  margin-bottom: 75px;
  filter: grayscale(1);
}

.partners__companies-item:hover {
  filter: grayscale(0);
  transition: .5s;
}

.partners__companies-item:nth-child(4n) {
  margin-right: 0;
}