* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./pics/hero.png") center top no-repeat, url("./pics/bottom-pic.png") center bottom 306px no-repeat;
 }

 body, html {
  height: 100%;
 }

body {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

b {
  color:#000;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #17191C;
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
}

.container  {
  width: 1142px;
  margin: 0 auto;
}

.top--main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 829px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 129px;
  padding-top: 26px;
  margin-bottom: 32px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 264px;
}

.menu__link:hover {
  color: #FF3D00;
  transition: .5s;
}

.dropdown {
  position: relative;
  min-width: 124px;
}

.dropdown__contacts {
  text-align: right;
}

.dropdown__contacts-tel {
  font-size: 26px;
}

.dropdown__contacts-schedule {
  color: #FF3D00;
  font-size: 13px;
  text-decoration: underline;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
}

.dropdown__work {
  position: absolute;
  background-image: url("./pics/dropdown.svg");
  font-size: 13px;
  color: #1E1F20;
  line-height: 21px;
  padding: 15px 19px;
  width: 157px;
  border-radius: 5px;
  top: 100%;
  margin-left: 33px;
  margin-top: 7px;
  left: 1000px;
  opacity: 0;
  transition: opacity .5s;
}

.dropdown__work:before {
  content: "";
  display: block;
  height: 21px;
  left: 0;
  right: 0;
  top: -16px;
  position: absolute;
}

.dropdown__work-time {
  font-weight: 700;
}

.dropdown__work-lunch {
  font-weight: 600;
}

.dropdown:hover .dropdown__work {
  left: 0;
  opacity: 1;
}

.slogan {
  text-align: center;
  margin-bottom: 233px;
}

.slogan__text-title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.slogan__text-info {
  font-size: 18px;
  margin-bottom: 41px;
}

.video {
  margin-bottom: 180px;
  min-height: 476px;
}

.video__list {
  display: flex;
  justify-content: space-between;
}

.video__item {
  display: flex;
  flex-direction: column;
  padding: 44px 23px;
  width: calc(100% / 3 - 18px);
  min-height: 471px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

.video__image {
  width: 76px;
  height: 76px;
  margin-bottom: 30px;
}

.video__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.video__content-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 17px;
}

.video__content-feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.video__content-feature-text {
  font-size: 16px;
  color: #666;
  margin-right: 63px;
}

.video__content-feature-text:last-child {
  margin-right: 0;
}

.video__content-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 29px;
}

.button {
  padding: 18px 53px;
  border-radius: 35px;
  background: #F50;
  font-weight: 700;
  transition: .5s;
}

.video__content-button {
  margin-top: auto;
}

.button--clicked {
  background-color: #fff;
  border-color: #F50;
  color: #F50;
}

.news {
  display: flex;
  flex-direction: column;
  margin-bottom: 145px;
}

.news__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.news__perks {
  margin-bottom: 47px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.news__item {
  margin-right: 2%;
  flex: 1;
  min-height: 394px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__info {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  padding: 0 33px;
}

.news__info-date {
  line-height: 21px;
  margin-bottom: 12.5px;
}

.news__info-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}

.news__info-text {
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.paginator__display {
  line-height: 20px;
  margin-right: 26px;
}

.paginator__list {
  display: flex;
  font-weight: 700;
}

.paginator__link {
  background: transparent;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  transition: .5s;
}

.paginator__link:hover {
  background: #FF5500;
  transition: .5s;
}

.about-us {
  display: flex;
  margin-bottom: 56px;
}

.about-us__image {
  display: block;
  width: 490px;
  height: 505px;
}

.about-us__info {
  padding: 70px 202px 70px 81px;
  background-color: #fff;
  min-height: 455px;
  max-width: 785px;
  color: #000;
  margin-left: -137px;
  border-radius: 5px;
  margin-top: 97px;
}

.about-us__info-title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.about-us__info-text {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 43px;
}

.button--about-us {
  padding: 18px 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
  margin-top: auto;
}

.contacts {
  text-align: right;
}

.contacts__tel {
  font-size: 26px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media__link {
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  transition: .5s;
  position: relative;
}

.social-media__item--tg .social-media__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -122px -10px;
  transition: .5s;
}

.social-media__item--vk .social-media__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -10px -122px;
  transition: .5s;
}

.social-media__item--fb .social-media__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -66px -10px;
  transition: .5s;
}

.social-media__item--ig .social-media__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -10px -66px;
  transition: .5s;
}

.social-media__item--tg .social-media__link:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -122px -66px;
  opacity: 0;
  transition: .5s;
}

.social-media__item--vk .social-media__link:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -66px -122px;
  opacity: 0;
  transition: .5s;
}

.social-media__item--fb .social-media__link:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -10px -10px;
  opacity: 0;
  transition: .5s;
}

.social-media__item--ig .social-media__link:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px; 
  height: 36px;
  background: url("./pics/socials.png") -66px -66px;
  opacity: 0;
  transition: .5s;
}

.social-media__link:hover:after {
  opacity: 0;
}

.social-media__link:hover:before {
  opacity: 1;
}

.contacts__text {
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
}

.footer--main {
  border-top: 1px solid rgba(255, 255, 255, 0.099);
}

/*services-page*/

.top-wrapper {
  background: #17191C url("./pics/top-line.png") center top no-repeat;
}

.container--pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 416px;
}

.title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
}

.breadcrumbs {
  padding-bottom: 28px;
}

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs__item {
  display: flex;
  color: #9A9A9A;
  margin-right: 6px;
}

.breadcrumbs__link {
  text-decoration: underline;
  margin-right: 6px;
}

.breadcrumbs__link:last-child {
  margin-right: 0;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  margin-left: 6px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link--clicked {
  font-weight: 700;
}

.services {
  background-color: #fff;
  padding-bottom: 63px;
}

.content--services {
  color: #000;
}

.services__shooting-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}

.services__shooting-item {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.services__shooting-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px 0px 19px 56px;
}

.services__shooting-info-title {
  font-size: 36px;
  font-weight: 700;
}

.services__shooting-info-text {
  font-size: 16px;
  line-height: 27px;
}

.paginator__link--pages:hover {
  color: #fff;
  transition: .5s;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F4F5F5;
  padding-top: 109px;
  padding-bottom: 51px;
}

.partners__title-text {
  color: #1A1B1E;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 82px;
}

.partners__companies-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.partners__companies-item {
  margin-right: 128px;
  margin-bottom: 56px;
  filter: grayscale(1);
  transition: .5s;
}

.partners__companies-item:hover {
  filter: grayscale(0);
  transition: .5s;
}

.partners__companies-item:nth-child(4n) {
  margin-right: 0;
}

/*welcome-page*/

.welcome {
  width: 100%;
  height: 100%;
  background: #17191C url("./pics/bg.png") center / cover no-repeat;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 156px;
}

.content__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -427px;
  opacity: 0;
  animation: video 1s cubic-bezier(0,-0.01,.5,1.45) .5s;
  animation-fill-mode: forwards;
}

@keyframes video {
  0% {
    transform: scale(0) rotate(30deg);
  }

  80% {
    transform: scale(1) rotate(-10deg);
  }

  90% {
    transform: rotate(5deg);
    }

  100% {
    opacity: 1;
  }
}

.button--login {
  text-transform: uppercase;
}

.button--login:hover {
  background: #FF3D00;
  transition: .5s;
}

.content__login-logo-image {
  margin-bottom: 38px;
}

/* comments-page */

.comments {
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 88px;
}

.content--comments {
  color: #000;
}

.comments__list {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 38px;
}

.comments__item {
  display: inline-flex;
  flex-direction: column;
  background: #F4F5F5;
  margin-bottom: 17px;
  padding: 50px 31px 31px;
  border-radius: 5px;
}

.comments__icon {
  margin-right: 22px;
}

.comments__icon-image {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  overflow: hidden;
}

.comments__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.comments__profile-name {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 3px;
}

.comments__profile-name--clicked {
  color: #2E77A4;
  text-decoration: underline;
}

.comments__profile-name:after {
  content: url("./pics/vk-blue.png");
  height: 30px;
  margin-left: 7px;
}

.comments__profile-job p {
  border-radius: 35px;
  background: #F2D4C9;
  color: #303030;
  font-size: 13px;
  padding: 10px 25px;
  display: inline-flex;
}

.comments__info {
  margin-bottom: 49px;
}

.comments__info h3 {
  color: #202020;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px; 
  margin-bottom: 13px;
}

.comments__info p {
  color: #818181;
  font-size: 16px;
  line-height: 27px;
}

.comments__date {
  color: #1A1B1E;
  font-weight: 600;
  line-height: 27px;
}

.banner {
  background: #373737 url("./pics/party.png") right no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__title {
  max-width: 49%;
}

.banner__title h2 {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}

.banner__title-orange {
  color: #FF5400;
}

.opinion {
  background-color: #F4F5F5;
  padding-top: 79px;
  padding-bottom: 96px;
}

.opinion__title h2 {
  color: #202020;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.opinion__form-row {
  display: flex;
}

.opinion__form-row-input {
  flex: 1;
  margin-right: 28px;
  margin-bottom: 26px;
  background: #FFF;
  border-radius: 5px;
  border: 1px transparent;
  padding: 20px 30px;
  color: #1A1B1E;
  font-size: 18px;
}

.opinion__form-row-input::placeholder {
  color: #666;
}

.opinion__form-row-input:last-child {
  margin-right: 0;
}

.opinion__form-row-input--clicked {
  border: 1px solid #CCC;
}

.opinion__form-row-input--textarea {
  height: 235px;
}

.opinion__services {
  display: flex;
  margin-bottom: 33px;
}

.opinion__services p {
  color: #1A1B1E;
  font-size: 18px;
  width: 36%;
}

.opinion__services-list  {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.opinion__services-choice {
  display: inline-flex;
  padding: 9px 15px;
  border-radius: 35px;
  background: #E7E7E7;
  color: #303030;
  font-size: 13px;
  margin-right: 18px;
  margin-bottom: 10px;
}

.opinion__services-item:nth-child(5) {
  margin-right: 0;
}

.opinion__services-item:nth-child(6) {
  margin-bottom: 0;
}

.opinion__services-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.opinion__services-element {
  cursor: pointer;
}

.opinion__services-checkbox:checked ~ .opinion__services-choice {
  background: #F2D4C9;
}

.opinion__services-checkbox {
  display: none;
}

.opinion__button {
  display: flex;
  justify-content: flex-end;
}

.button--delete {
  background: #8E8E8E;
  margin-right: 13px;
  transition: .5s;
}

.button--delete:hover {
  background: #2B2B2B;
  transition: .5s;
}

.button--send:hover {
  background: #FF3D00;
  transition: .5s;
}